@import url('https://fonts.googleapis.com/css?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

body {
  background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

h1 {
  font-size: 40px;
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 10.2em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.text_1 {
  overflow: hidden;
  font-family: 'Dekko';
  color:#57e843;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}


.text_1::after {
  content: "  |";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

.btn{ 
  position:absolute ;
  top:12%;
  left:40%;
  display: inline-block; 
  background-image:url('https://github.com/Ronalchayengia/Mathematics-department/raw/main/photo.jpg');
  background-size:70px 70px;
  background-repeat: no-repeat;
  text-decoration: none; 
  width: 70px; 
  height: 70px; 
  line-height: 70px; 
  border-radius: 50%; 
  border: double 4px #024fe8; 
  text-align: center; 
  font-size:15px;
  vertical-align: upper; 
  overflow: hidden; 
  transition:.6s; 
  animation: btn .5s infinite alternate;
}



.btn:hover{ 
  -webkit-transform: rotateY(360deg); 
  -ms-transform: rotateY(360deg); 
  transform: rotateY(360deg); 
}

@keyframes btn {
   
    0%   { box-shadow:0 0 0px 0px #5449f2, 0 0 0px 0px #261dab}
    100% { box-shadow:0 0 5px 0px #5449f2, 0 0 10px 10px #261dab; } 
}

.text{
    font-size:30px;
    position:absolute ;
    top:0%;
    color:yellow;
    font-family: 'Merienda';
    text-align:center ;
}

.box {
    top:10;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    position:absolute;
    width:340px;
    height:500px;
    border:2px solid #5449f2;
    background-color:;
}

.snowflake {

  color: #fff;

  font-size: 1em;

  font-family: Arial, sans-serif;

  text-shadow: 0 0 5px #000;

}

.snowflake {

  color: #fff;

  font-size: 1em;

  font-family: Arial, sans-serif;

  text-shadow: 0 0 5px #000;

}



@-webkit-keyframes snowflakes-fall{
   0%{top:-10%}
   100%{top:100%}
}


@-webkit-keyframes snowflakes-shake{
   0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
   50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
}

@keyframes snowflakes-fall{
   0%{top:-10%}
   100%{top:100%}
}
   
@keyframes snowflakes-shake{
   0%,100%{transform:translateX(0)}
   50%{transform:translateX(80px)}
}


.snowflake{
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;   -webkit-animation-name:snowflakes-fall,snowflakes-shake;
-webkit-animation-duration:10s,3s;
-webkit-animation-timing-function:linear,ease-in-out;
-webkit-animation-iteration-count:infinite,infinite;
-webkit-animation-play-state:running,running;
animation-name:snowflakes-fall,snowflakes-shake;
   animation-duration:10s,3s;
   animation-timing-function:linear,ease-in-out;
   animation-iteration-count:infinite,infinite;
   animation-play-state:running,running}

.snowflake:nth-of-type(0){
  left:1%;-webkit-animation-delay:0s,0s;
  animation-delay:0s,0s
}

.snowflake:nth-of-type(1){
  left:10%;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
}

.snowflake:nth-of-type(2){
  left:20%;
  -webkit-animation-delay:6s,.5s;
  animation-delay:6s,.5s
}

.snowflake:nth-of-type(3){
  left:30%;
  -webkit-animation-delay:4s,2s;
  animation-delay:4s,2s
}

.snowflake:nth-of-type(4){
  left:40%;
  -webkit-animation-delay:2s,2s;
  animation-delay:2s,2s
}

.snowflake:nth-of-type(5){
  left:50%;
  -webkit-animation-delay:8s,3s;
  animation-delay:8s,3s
}

.snowflake:nth-of-type(6){
  left:60%;
  -webkit-animation-delay:6s,2s;
  animation-delay:6s,2s
}

.snowflake:nth-of-type(7){
  left:70%;
  -webkit-animation-delay:2.5s,1s;
  animation-delay:2.5s,1s
}

.snowflake:nth-of-type(8){
  left:80%;
  -webkit-animation-delay:1s,0s;
  animation-delay:1s,0s
}

.snowflake:nth-of-type(9){
  left:90%;
  -webkit-animation-delay:3s,1.5s;
  animation-delay:3s,1.5s
}

.snowflake:nth-of-type(10){
  left:25%;
  -webkit-animation-delay:2s,0s;
  animation-delay:2s,0s
}

.snowflake:nth-of-type(11){
  left:65%;
  -webkit-animation-delay:4s,2.5s;
  animation-delay:4s,2.5s
}

.arrowl{
    position:absolute ;
    top:14%;
    font-size:40px;
    left:20%;
    animation: arrowl .5s infinite alternate;
}

@keyframes arrowl {
   
    0%   { left: 27%; }
    100% { left: 22%; } 
}

.arrowr{
    position:absolute ;
    top:14%;
    font-size:40px;
    left:66%;
    animation: arrowr .5s infinite alternate;
}

@keyframes arrowr {
   
    0%   { left: 60%; }
    100% { left: 65%; } 
}
